body{
    margin: 0;
    padding: 0;
    background-color: #040714;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    color: #f9f9f9;
}
body, button, input, select {
    /* font-family: 'Avenir Roman',sans-serif; */
    font-family: 'Roboto', sans-serif;
}
h2, h3, h4, h5, p {
    margin: 0 0 24px;
}

@media only screen and (max-width: 1023px) and (min-width: 769px){
h1, h2 {
    font-size: 28px;
}
}

@media only screen and (max-width: 1600px) and (min-width: 1024px){
    h1 {
        font-size: 3.5vw;
        text-align: center;
    }

    h2 {
        font-size: 3vw;
    }
    .x-large{
        font-size: 1.4vw;
    }
}
.hero .background-image.large {
    display: block;
}
.hero .background-image {
    transition-timing-function: ease-out;
    transition: opacity .5s;
    transition-delay: .1s;

}
.hero .background-wrapper {
    
    height: 100%;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.hero, .hero .hero-content {
    display: flex;
    flex-direction: column;
}
.hero .hero-content {
    width: 100%;
    position: relative;
    padding: 80px;
    min-height: 100vh;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.hero .background-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 200%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.hero .background-image.small {
    display: none;
}
@media only screen and (max-width: 768px){
.hero .background-image.small {
    display: block;

}

.logo img {
    display: block;
    width: 80%;
    margin: auto;
}

}
@media only screen and (min-width: 768px){
    .button-group{
        width: 60%;
    }
}
.meta.m-pos{
    position: absolute;
    align-items: center;
}
.meta{
    bottom: 0;
    
    max-width: 632px;
    display: flex;
    flex-direction: column;
    
    align-content: flex-end;
}


.logo {
    width: 100%;
    font-size: 0;
    display: inline-block;
    max-width: 750px;
}

.btn-primary {
    color: #f9f9f9;
    background-color: #9c780b;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    transition: all .2s ease 0s;
    font-size: 18px;
    padding: 16.5px 14px;
    text-transform: uppercase;
    margin-bottom: 150px;
    width: 100%;
    max-width: 450px;
    min-width: auto;
    
}
.caption{
    width: 90%;
    margin: 0 auto;
}
.container-list{
    width: 60%;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    
}
.container-plus{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.item-plus{
    width: 100px;
    margin: 0 20px;
}
.i-netflix{
    width: 80px;
}
.item-plus img{
    width: 100%;
}




/* kdsfsldjdslkfj */

.caption {
    position: relative;
    overflow: hidden;
}
.m-caption{
    line-height: 1.5;
    color: hsla(0,0%,75.3%,.8);
    padding: 0 4%;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    
}
.wrapper.w-reverse{
    flex-direction: row-reverse;
}
.title2, .title3{
    color: #9c780b;
}
.caption .foreground-image img {
    display: block;
    width: 100%;
}
.caption .foreground-image {
    flex: 1 1 auto;
}

.meta-grid1{
    position: absolute;
    z-index: 3;
    left: 52%;
    transform: translateY(-50%);
    top: 55%;
    width: 40%;
}
@media only screen and (max-width: 1439px) and (min-width: 1024px){
.caption .wrapper {
    padding: 60px 40px;
}
}
.back-black{
    width: 100%;
}

.caption2, .back-black{
    background-color: #000000;
}
/* card container





*/









.container-card-price{
    width: 70%;
    margin: auto;
    padding: 50px;
}
.container-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title-card{
    text-align: center;
    margin: 1.3rem 0;
    padding: 0.4rem;
}
.card-item{
    border-radius: 42px;
    background-color: #9c780b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 3rem;
    margin: 0 1rem;
    overflow: hidden;
}
/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    /* background: #0f0f0f; */
    padding: 50px 0;
  }
  
  .section .container {
    
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section h1 {
    font-size: 2.5rem;
  }
  
  .section h2 {
    font-size: 1.3rem;
  }
  
  
  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline {
    width: 80%;
    margin: auto;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  
  .timeline ol li div, ol{
      margin: 0;
  }
  
  .timeline ol li {
    margin: 0 0;
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: calc(100%/6);
    height: 3px;
    background: #fff;
  }

  .timeline ol {
    font-size: 0;
    width: 100%;
    margin-left:  calc(100%/6/2) ;
    padding: 35px 0 45px 0;
    
    transition: all 1s;
  }
  
  .timeline ol li:last-child {
    
    background-color: transparent;
  }
  
  
  .timeline ol li div {
    
    position: absolute;
    top: 50%;
    
    bottom: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #ffffff;
  }
  .timeline ol li div:hover{
      cursor: pointer;
  }
.list-list{

    list-style: none;
    display: flex;
    justify-content: space-around;
}
ul.list-list{
    padding-left: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
}

.text{
    margin-top: 1rem;
    font-weight: 500;
}

.fixed-content .icon-whatsapp{
    width: 20px;
}
