
/* responsive web

*/

@media only screen and (max-width: 769px){
    h1.heading {
        font-size: 5vw;
        width: 80%;
        text-align: center;
        margin: 0 0 1.2vh;
    }
    .btn-primary{
        font-size:  3.2vw;
        margin-bottom: 27vh;
    }
    /* .small{
        width: 100%;
        
    } */

    .item-plus {
        margin: 0 0.7vw;
    }
    .container-list {
        width: 70%;
        margin-bottom: 5vh;
    }
    .wrapper.w-reverse, .wrapper {
        flex-direction: column-reverse;
    }
    .hero .background-image.large {
        display: none;
    }
    .logo{
        width: 70%;
    }
}
@media only screen and (max-width: 420px){
    .logo {
        width: 100%;
    }
    h1.heading{
        margin: 3vh 0;
        font-size: 6vw;
    }
    .btn-primary{
        font-size: 4vw;
    }

    .card-item{
        width: 90%;
        padding: 0;
        margin: auto;
    }
    .container-price{
        flex-direction: column;
    }
    .container-card-price{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
}
@media only screen and (max-width: 560px){
    .fixed-content{
        padding: 0.5rem 0;
    }
    .margen{
        margin: 0 1.5rem;
    }
    .nav ul{
        padding: 0.5rem;
    }
    .nav ul,  .nav a {
        margin-right: 1.2rem;
    }
    .nav ul li{
        margin-right: 1rem;
    }
    nav.nav{
        font-size: 0.8rem;
    }
    img.icon-whatsapp{
        width: 1.2rem;
    }
}
