
/* responsive web

*/

@media only screen and (max-width: 769px){
    h1.heading {
        font-size: 5vw;
        width: 80%;
        text-align: center;
        margin: 0 0 1.2vh;
    }
    .btn-primary{
        font-size:  2.7vw;
        margin-bottom: 27vh;
    
    }
    /* .small{
        width: 100%;
        
    } */

    .item-plus {
        margin: 0 0.7vw;
    }
    .container-list {
        width: 70%;
        margin-bottom: 0;
    }
    .wrapper.w-reverse, .wrapper {
        flex-direction: column-reverse;
    }
    .hero .background-image.large {
        display: none;
    }
    .logo{
        width: 70%;
    }
    
}
@media only screen and (max-width: 716px){

    @media (orientation: landscape) {
        /* body {
            background-color: red;
        } */
        .logo img{
            width: 60%;
        }
        h1.heading{
            font-size: 4vw;
        }
        .btn-primary{
            font-size: 2vw;
        }
        .fixed-content{
            padding: 0;
        }
    }
}
@media only screen and (max-width: 420px){
    .logo {
        width: 100%;
    }
    h1.heading{
        margin: 3vh 0;
        font-size: 6vw;
    }
    .btn-primary{
        font-size: 4vw;
    }

    .card-item{
        width: 90%;
        padding: 0;
        margin: auto;
    }
    .container-price{
        flex-direction: column;
    }
    .container-card-price{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .container-list {
        width: 70%;
        margin-bottom: 12vh;
    }
    .meta-grid1 {
        position: static;
        
        transform: translateY(0);
        width: 90%;
    }
    
}
@media only screen and (max-width: 560px){
    .fixed-content{
        padding: 0;
    }
    .margen{
        margin: 0 1.5rem;
    }
    .nav ul{
        padding: 0.5rem;
    }
    .nav ul,  .nav a {
        margin-right: 1.2rem;
    }
    .nav ul li{
        margin-right: 1rem;
    }
    nav.nav{
        font-size: 0.8rem;
    }
    img.icon-whatsapp{
        width: 1.2rem;
    }
}

.card-list ul li {
    margin: 0.7rem;
    
    color: hsla(0,0%,75.3%,.8);
    padding: 0 4%;
}
.card-list ul{
    padding: 0;
    text-align: center;
}
.card-item{
    margin-bottom: 2rem;
    margin-top: 1rem;

}
.title-price{
    margin-top: 2rem;
}
.button-container{
    margin-bottom: 2.2rem;
    margin-top: 1.3rem;
}
.button-container a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: black;
    padding: 0.8rem 2rem;
    /* border-radius: 0; */
    margin-top: 2rem;
    border-radius: 5px;
}

.text-font{
    font-size: 3em;
    margin: 0 0 0.3rem;
}
.price-price{
    display: flex;
    align-items: flex-end;
}
.price-price span{
    margin: 0 0 0.9rem;
}